<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">My Portfolio</h1>
      <p class="lead text-muted">
        These are some of the applications that I made, mostly for learning purposes. I also made some features in a few commercial applications but that was a teamwork so they are not here.
      </p>
      <p>
        <%= link_to 'Find Out More About Me', about_me_path, class: 'btn btn-primary'  %>
        <%= link_to 'Read My Blog', blogs_path, class: 'btn btn-info'  %>
      </p>
    </div>
  </section>
</main> 