<h1>About Me</h1>
<h6>Hi, my name is Tatjana Tanaskovic and I'm a Software Developer and Tech-enthusiast.<br>
My favorite programming language is Ruby and it's framework Ruby on Rails.<br>
I love modern technologies and computer programming and really enjoy working in that field.</h6>
