<h1>About Me</h1>
<hr>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: "Tatjana Tanaskovic Profile Image"%>
  </div>
  <div class="col-md-8">
    <p>Hi, my name is Tatjana Tanaskovic and I'm a Software Developer and Tech-enthusiast. My favorite programming language is Ruby and it's framework Ruby on Rails. I also work with JavaScript and it's libraries React and Redux.
    </p>
    <p>I love modern technologies and computer programming and really enjoy working in that field. Besides that I very much enjoy to spend my free time in nature enviroment, walking or swimming, and reading a good book. 
    </p>
  </div>
</div>


