<h1>Would you like to work together?</h1>

<hr>
<div class="row">
  <div class="col-md-6">
    <h3>Address</h3>
    <p>Moše Pijade 1B, Pančevo, Serbia</p>

     <h3>Phone</h3>
    <p>+381 64 95 57 440</p>

    <h3>Email me</h3>
    <p><a href="mailto:tatjanatanaskovich@gmail.com?subject=PortfolioContact" "email me">tatjanatanaskovich@gmail.com</a> </p>

    <h3><a href="https://www.linkedin.com/in/tatjana-tanaskovic/">LinkedIn</a></h3>

    <h3><a href="https://github.com/tatjanatanaskovich">GitHub</a></h3>
    
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2827.4769382878185!2d20.63150187990531!3d44.87294217920073!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a7e94141512af%3A0x9ee1442c5fb1f892!2z0JzQvtGI0LUg0J_QuNGY0LDQtNC1IDEsINCf0LDQvdGH0LXQstC-!5e0!3m2!1ssr!2srs!4v1534414599840" width="450" height="450" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
  </div>
</div>
